*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100;;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --bg-color: #000000;
    --text-color: #ffffff;
    --bg-task-color: #2a2a2a;
    --bg-button-color: #1a1a1a;
    --delete-color: #ff4d4d;

    --nav-padding: 15px 30px;
    --section-padding: 15px 30px;
    --padding-s:5px;
    --padding-m:10px;
    --padding-l:15px;
    --padding-xl:20px;
    --padding-xxl:30px;


    --border-radius-s:5px;
    --border-radius-m:10px;
    --border-radius-l:15px;
    --border-radius-xl:20px;
    --border-radius-xxl:30px;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
main{
    height:100%;
    display: flex;
    flex-direction: column;
}


nav{
  padding: var(--nav-padding) ;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav button{
    background-color:var(--bg-button-color) ;
    border: none;
    outline: none;
    color: var(--text-color);
    padding: var(--padding-m) var(--padding-l);
    cursor: pointer;
    border-radius: var(--border-radius-m);
}

section{
    padding: var(--section-padding);
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    
    gap: var(--padding-xxl);
}

section .task-column{
background-color: var(--bg-button-color);
    flex-grow: 1;
    padding: var(--padding-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    border-radius: var(--border-radius-m);
    cursor: grab;
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);

}

section .task-column.hover-over{
    border: 2px dashed var(--text-color);
    scale:1.05;
}

section .task-column .heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .task-column .task{

    background-color: var(--bg-task-color);
    padding: var(--padding-m);
    border-radius: var(--border-radius-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-s);
}

section .task-column .task button{
    align-self: flex-end;
    cursor: pointer;
    padding: var(--padding-s) var(--padding-m);
    border-radius: var(--border-radius-s);
    border: none;
    outline: none;
    background-color: var(--delete-color);
    color: var(--text-color);
}

.modal{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;

}

.modal.active{
    display: flex;
}

.modal .bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(5px);
    
}

.modal .center{
    background-color: var(--bg-button-color);
    padding: var(--padding-xxl);
    border-radius: var(--border-radius-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    z-index: 10;
}
    
.modal .center input, .modal .center textarea{
    background-color: var(--bg-task-color);
    border: none;
    outline: none;
    color: var(--text-color);
    padding: var(--padding-m);
    border-radius: var(--border-radius-s);
    width: 300px;
}
    
.modal .center button{
    background-color: var(--bg-button-color);
    border: none;
    outline: none;
    color: var(--text-color);
    padding: var(--padding-m) var(--padding-l);
    cursor: pointer;
    border-radius: var(--border-radius-m);
    align-self: flex-end;
    width: fit-content;
    align-self: center;
}

.task {
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  background: #fff;
  cursor: grab;
}

.todo-task {
  border-left: 5px solid #ff9800;
}

.progress-task {
  border-left: 5px solid #2196f3;
}

.done-task {
  border-left: 5px solid #4caf50;
}

.delete {
  margin-top: 8px;
  background: red;
  color: #fff;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
}
